@model TestTask.Models.Salary
@{
    ViewBag.Title = "Info";
}

@if (Model != null)
{
    <h1> PAY SLIP</h1>

    <div>
        Employee Name : @Model.FirstName @Model.LastName
    </div>

    <div>
        Pay Period : @Model.Start_Date.ToShortDateString() to @Model.End_Date.ToShortDateString()
    </div>

    <div>
        Gross Income ($) : @Model.GrossIncome
    </div>

    <div>
        Income Tax ($) : @Model.Tax
    </div>

    <div>
        Net Income ($): @Model.NetIncome
    </div>

    <div>
        Super Amount ($) : @Model.SuperAmount
    </div>

}
